<html xmlns:th="https://www.thymeleaf.org">
<head lang="en" th:include="header :: header"> 
</head>
    <title>Account Activity</title>
    
    <script type="text/javascript">
    
    	var selectedId;
    	
    	function confirmDelete(itemId)
    	{
    		document.getElementById('RemoveTransaction').style.display='block';
 			selectedId = itemId;
    	}
    	
    	function hideModal()
    	{
    		document.getElementById('RemoveTransaction').style.display='none';
    	}
    	
    	function deleteItem()
    	{
    		window.location.href="/RemoveTransaction/" + selectedId;
    	}
    	
    </script>
  </head>
  <body>
  
  <div class="col-12" style="padding:0px">
    <div class="col-8 center shadow"  style="padding:0px;">
        <div class="col-12" style="padding:1em;">
            <div class="col-12"><a href="/Dashboard">Dashboard</a>
            <span style="margin-left:15px;margin-right:15px;">></span>
            <a href="/AccountActivity">Account Activity</a></div>
            <div class="col-12">
                <h2>Account Activity</h2><br>
                
                 <div th:if="${noAccountActivity}">
		            <div class="col-12" style="border:1px solid #ddd;text-align:center;">No account activity.</div>
                </div>
                
                				<div th:if="${accountActivity}">
				
					      <table>
		                    <tr>
		                        <th style="border-bottom:0px;">Date</th>
		                        <th style="border-bottom:0px;">Category</th>
		                        <th style="border-bottom:0px;">Expense</th>
		                    </tr> 

						    <tr th:each="item : ${accountActivity}">
							   <td><span th:text="${item.date}" class="money-small"></span></td>
							   	<td><span th:text="${item.category}"></span></td>
							   <td><span th:text="${#numbers.formatCurrency(item.amount)}" class="money-small"></span><a th:onclick="'confirmDelete(\'' + ${item.transactionId} + '\');'" style="float:right;">delete</a></td>
							</tr>
						 </table>
                
                </div>
                </div>
                </div>
                </div>
                </div>
                
<!--  Remove transaction modal -->
<div id="RemoveTransaction" class="modal">
    <div class="modal-content animate-top">
        <div class="col-12" style="background-color:#fff;padding:30px;">

            <span onclick="document.getElementById('RemoveTransaction').style.display='none'" style="float:right;"><i class="far fa-times-circle" style="font-size:25px;"></i></span>

<div class="col-12"><h2>Delete Transaction</h2></div>
            	<div class="col-12">Are you sure you want to delete this transaction?</div>
            	<div class="col-4" style="float:left;"><input type="button" onclick="hideModal()" value="Cancel" class="button"></div>
                <div class="col-4" style="float:right;"><input type="button" id="deleteButton" onclick="deleteItem()" value="Delete" class="button"></div>
        </div>
    </div>
</div>
                