<html xmlns:th="https://www.thymeleaf.org">
<head lang="en" th:include="header :: header"> 
</head>
    <title>Create Account</title>
  </head>
  <body>

<div class="col-12">
  <div class="col-6 center">
    <form method="post" th:action="@{/CreateAccount}">
    <div class="col-12" style="text-align:center;"><h1>Join Project Budget</h1></div>
    <div class="col-12" style="padding-bottom:0;">Email:</div>
    <div class="col-12"><input type="text"  class="field" name="username" required ></div>
    <div th:if="${invalidEmail}" style="color:red;"><div class="col-12">Please enter a valid email.</div></div>
    <div class="col-12" style="padding-bottom:0;">Password:</div>
    <div class="col-12"><input type="password"  class="field" name="password" required ></div>
    <div class="col-4"><a href="login">Login</a></div>
    <div class="col-4" style="float:right;"><input type="submit" class="button" value="Sign-up"></div>
    
  </form>
  </div>
</div>