<html xmlns:th="https://www.thymeleaf.org">
<head lang="en" th:include="header :: header"> 
</head>
    <title>Forgot Password</title>
  </head>
  <body>
  
<div class="col-12" style="padding:0px">
    <div class="col-7 center shadow"  style="padding:0px;height:600px;">
        <div class="col-6 center" style="padding:1em;margin-top:150px;">
			<h2>Forgot Password</h2>
    <form method="post" th:action="@{/ForgotPassword}">
	<div th:if="${error}">
	<p th:text="${error}" style="color:red;margin-top:25px;"></p>
	</div>
	<div th:if="${accountFound}">
	<p th:text="${accountFound}" style="margin-top:25px;"></p>
	</div>
    <div class="col-12" style="padding-bottom:0;">Email:</div>
    <div class="col-7"><input type="text" class="field" name="username" required ></div>
    <div class="col-4"><input type="submit" class="button" value="Reset Password"></div>
    <div class="col-12"><a href="/Login">Back to login</a></div>
  </form>
	    </div>
   	 </div>
</div>


