
<head th:fragment="header">
<!doctype html>
<html lang="en">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="../static/css/theme.css" th:href="@{/css/theme.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:100" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Heebo:300" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body th:fragment="header" style="text-align:center;">
  <div class="col-12 nav">
      <div th:if="${loggedIn}">
      <form method="post" th:action="@{/Logout}" style="float:right;margin-top:-10px;">
      	<input type="submit" class="button" value="Logout">
      </form>
      </div>
   
      </div>
  </body>